*{
    margin: o; 
    padding: 0;
    box-sizing: border-box;

}

body{
    margin: 1px;
    height: 100vh;
    background-color: #202124;

}

header{
    display: flex;
    justify-content: end;
    height: 60px;
    padding: 0 12px;

}

header .options{
    display: flex;
    align-items: center;
    gap: 12px;
    

}

header .options a {
    font-family: Arial,sans-serif;
    text-decoration: none;
    color: whitesmoke;

}
header .options a img {
    height: 35px;
    width: 35px;

 }

header .options .user img {
    height: 40;
    width: 40;
    border-radius: 50%;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
    height: calc(80% - 40px - 40px);

}

main figure {
    display: flex;
    max-height: 100%;
    max-width: 100%;
    padding-bottom: 20px;
    object-position: center bottom;
    
}

main .container {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    gap: 20px;

}

main .container .search-buttons button{
    background-color: #303134;
    border: none;
    padding: 12px;
    color: whitesmoke;
    border-radius: 4px;
}

main .container .search-buttons{
    display: flex;
    gap: 12px;
}
    
main .container .search {
    display: flex;
    align-items: center;
    padding: 5px 8px 0px 14px;
    height: 30px;
    width: 450px;
    border-radius: 38px;
    border: 1px solid;
    border-color: #5f6368;
    background-color: #202124;
}

main .container .search input {
    display: flex;
    width: 100%;
    height: 25px;
    background-color: transparent;
    padding: 0px 0px 5px 0px;
    border: none;
    color: #e8eaed;
    outline: none;
    word-wrap: break-word;
    font-family: 'Roboto', sans-serif;
    -webkit-tap-highlight-color: transparent;
}

main .container .search img {
    display: inline-block;
    width: 25px;
    height: 25px;
}
 
main .container .search button {
    display: flex;
    background-color: transparent;
    border: none;
    padding: 0px 8px 5px 8px;

}


main .container .search:hover {
    background-color: #19191a;
}

footer {
    
    height: 80px;
    width: 100%;
    background-color: #171717;
    position: absolute;
    bottom: 0;
}

footer a{
    color: gray;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-size: 12px;
}

footer span {
    display: flex;
    flex-flow: column;
    margin: 10px 0px 10px 10px;
    height: 40px;
    width: 100%;
    border-bottom: 1px solid; color: grey;
    color: grey;
    font-family: 'Roboto', sans-serif;
}

footer section {
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
    flex-wrap: wrap;
}

.izq {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    margin: 10px 0px 15px 10px;
}

.derecha {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    margin: 10px 10px 15px 0px;
}



@media (min-width: 565px) {

    footer section {
        display: flex;
        flex-direction:row;
        align-items: center;
        justify-content: space-evenly;
        gap: 10px;
        flex-wrap: wrap;
    }
}

@media (min-width: 665px) {

    footer section {
        display: flex;
        flex-direction:row;
        align-items: center;
        justify-content: space-between;
        /* gap: 10px; */
        flex-wrap: wrap;
    }
}